<%= render "non_home_header" %>

<h1>Credentials</h1>

    <% @programs.each do |program| %>
        <% skill = program.skill %>
        <div class="credential">
            <%= render "logo_credentials_for_others", skill: skill %>
            <div class="details">
                <%= render "skill_details", skill: skill %>
                <%= render "participants", program: program %>
            </div>
        </div>
    <% end %>
