<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <b>Welcome to skillsgraph.learnershape.com, <%= @holder.name %></b>

        <p><%= @authenticator.name %> (<%= @authenticator.email %>) has created for you a credential in "<%= @credential.skill.name %>".</p>

        <p>Create an account at <a href="https://skillsgraph.learnershape.com">skillsgraph.learnershape.com</a> to see it.</p>
    </body>
</html>
