<h1>Home for <%= current_user.name %></h1>

<ul>
    <li>My Credentials</li>
    <ul>
        <li><%= link_to "Create New Credential", new_my_credential_path %></li>
        <li>List My Credentials</li>
    </ul>
    <li>Credentials to Authenticate</li>
    <li>Credentials to Create for Others</li>
</ul>

<%#= form_for(user_session_path) do |f| %>
<div class="field">
    <%#= f.label :sklll %><Br/>
    <%#= f.text_field :skill %>
</div>


<%#= f.submit "Add Skill  / Hit Protected API Endpoint" %>

<%# end %>

<hr>

<%= button_to "Logout", destroy_user_session_path, method: :delete  %>
