/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body { font-family: Arial, Helvetica, sans-serif; margin: 2em }
.field { padding-bottom: 1em; }
li { padding-bottom: 1em; }
ul.compressed li { padding-top: 0em; padding-bottom: 0em; }
.logo img { height: 40px; width: 360px; }
h1 { font-size: 1.4em }

.h2 { font-size: 1.2em; font-weight: bold; }

ul.home { list-style: none; }
ul.home li { margin: 0em; padding: 0em; }
a.wide-button { width: 365px; border-radius: 24px; border: 1px solid #4193c0; margin: 0em 0em 0.7em 0em; text-decoration: none; color: black; text-align: center; display: block; padding: 0.5em 0em; }
a.wide-button:hover { background-color: #4193c0; color: white; }

div.header { padding: 1.5em 0em; margin-bottom: 1em; border-bottom: 1px solid #4193c0; border-top: 1px solid #4193c0; }
div.header span.user { margin: 0em 1em; }

a.button { border-radius: 24px; border: 1px solid #4193c0; margin: 0em 0.3em 0em 0em; text-decoration: none; color: black; padding: 0.5em 1em; }
a.button:hover { background-color: #4193c0; color: white; }

input[type='text'] { width: 400px; }
input[type='email'] { width: 400px; }
input[type='password'] { width: 400px; }

div.ordering input[type='text'] { width: 40px; }

select { width: 408px; }
textarea { width: 400px; }

div.break { width: 400px; border-bottom: 1px solid black; margin-bottom: 1em; }

input[type='submit'] { padding: 0.2em 1em; color: white; background-color: #4193c0; border-radius: 24px; font-size: 1.4em; font-weight: bold; }
input[type='submit']:hover { cursor: pointer }

input[type='file']::file-selector-button { color: white; background-color: #72c6f3 }
input[type='file']:hover { cursor: pointer }

.credential { margin-bottom: 2em; display: grid; grid-template-columns: 210px auto; }
.credential .logo { display: grid-column; }
.credential .logo img { height: 200px; width: 200px; }
.credential .logo-empty { display: grid-column; border: 2px solid black; height: 200px; width: 200px; }
.credential .details { display: grid-column; }
.credential .details p { margin: 0em; padding: 0em; padding-bottom: 0.5em; }
.credential .details ul { margin: 0em; padding: 0em; list-style-type: none; }
.credential .details ul li { margin: 0em; padding: 0em; }

.ordered-credential { margin-bottom: 2em; display: grid; grid-template-columns: 70px 210px auto; }
.ordered-credential .ordering { display: grid-column }
.ordered-credential .logo { display: grid-column; }
.ordered-credential .logo img { height: 200px; width: 200px; }
.ordered-credential .logo-empty { display: grid-column; border: 2px solid black; height: 200px; width: 200px; }
.ordered-credential .details { display: grid-column; }
.ordered-credential .details p { margin: 0em; padding: 0em; padding-bottom: 0.5em; }
.ordered-credential .details ul { margin: 0em; padding: 0em; list-style-type: none; }
.ordered-credential .details ul li { margin: 0em; padding: 0em; }
