<% if skill.has_image? %>
    <div class="logo">
        <%= image_tag skill.image %>
    </div>
<% else %>
    <div class="logo-empty">
        <% if skill.can_add_logo? %>
            <p><%= link_to "Add logo", add_logo_form_my_credential_path(credential.id), class: "button" %></p>
        <% end %>
    </div>
<% end  %>
